body{
    background-color: rgb(112, 111, 111);
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formList{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.addButton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 162, 255);
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.hide{
    display: none;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 162, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.btn{
    color: black;
    background-color: rgb(0, 162, 255);
    border: none;
    cursor: pointer;
}

.trash{
    color: black;
}

.done{
    text-decoration: line-through;
    color: black;
}

.btnCheck{
    color: rgb(26, 46, 226);
}

.buttonModal{
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.input{
    background-color: aliceblue;
    margin-right: 15px;
    padding: 10px;
    border: none;
}