body{
    background-color: rgb(112, 111, 111);
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formList{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 5px;
}

.addButton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 25px;
}

.hide{
    display: none;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
